@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-shrink: 0;
}

.header {
  display: flex;
  padding: 4px;
  flex-shrink: 0;
  justify-content: space-between;
}

.left-links {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.right-links {
  display: flex;
  justify-self: flex-end;
  gap: 15px;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  padding: 4px;
  flex-shrink: 0;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 8px;
}

img {
  width: 600px;
  display: flex;

}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #36454F;
  font-size: small;
  font-weight: bold;
}